Repository boostcamp-2020/Project09-B-Uber-Clone, pull requests merged in 2020-12, with the labels that each got.

#52 맵 컴포넌트 관련 리팩토링
  client/package-lock.json
  client/package.json
  client/src/components/map/Map.tsx
  client/src/containers/MapContainer.tsx
  client/src/stores/modules/pathPoint.ts
  client/src/types/index.ts
Labels: 🌈 client, 🔧 refactor

#44 경로 표시 구현
  client/src/components/map/Map.tsx
  client/src/types/index.ts
Labels: 🌈 client

#53 드라이버 지도 페이지에서 드라이버의 현재 위치 표시
  client/src/pages/driver/DriverMatchingPage.tsx
Labels: 🌈 client, 🥇 must

#62 매칭 시스템-driver에게 알림 구현
  server/app.ts
  server/graphql/context.ts
  server/graphql/onConnect.ts
  server/graphql/resolver/index.ts
  server/graphql/resolver/mutation.ts
  server/graphql/resolver/subscription.ts
  server/graphql/resolver/subscriptionType.ts
  server/graphql/schema/index.graphql
  server/graphql/schemaDirectives/authError.ts
  server/graphql/schemaDirectives/index.ts
  server/models/requestingUserSchema.ts
  server/models/waitingDriverSchema.ts
  server/utils/verifyUserByCookie.ts
Labels: 🥇 must, 🧱 server

#71 출발지와 도착지를 검색하는 입력 컴포넌트 구현
  client/src/components/userMain/ContentWrapper.tsx
  client/src/components/userMain/InputPlaces.tsx
  client/src/components/userMain/PlaceDropdown.tsx
  client/src/pages/UserDriverSelectPage.tsx
  client/src/pages/driver/DriverAuthPage.tsx
  client/src/pages/user/UserAuthPage.tsx
  client/src/pages/user/UserMainPage.tsx
  client/src/pages/user/UserSignupPage.tsx
Labels: 🌈 client, 🥇 must

#73 매칭 요청 전 유저 맵 하단에 노출되는 컴포넌트 구현
  client/src/components/userMain/PreReqData.tsx
  client/src/components/userMain/RequsetButton.tsx
  client/src/pages/user/UserMainPage.tsx
  client/src/pages/user/UserMatchingPage.tsx
Labels: 🌈 client, 🥇 must

#72 통화 버튼 구현
  client/src/components/common/CallButton.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
Labels: 🌈 client, 🥇 must

#74 화면에 매칭 중 표시 구현
  client/src/components/common/Loading.tsx
  client/src/components/userMatching/Matching.tsx
  client/src/containers/MapContainer.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/stories/Matching.stories.tsx
  server/graphql/onConnect.ts
Labels: 🌈 client, 🐛 bug

#76 예상 시간 및 예상 요금 표시 & 경로 중복 표시 해결
  client/src/components/map/Map.tsx
  client/src/components/userMain/InputPlaces.tsx
  client/src/components/userMain/PlaceDropdown.tsx
  client/src/components/userMain/PreReqData.tsx
  client/src/containers/MapContainer.tsx
  client/src/pages/user/UserMainPage.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/stores/modules/index.ts
  client/src/stores/modules/pathPoint.ts
  client/src/stores/modules/preData.ts
  client/src/types/index.ts
Labels: 🌈 client, 🥇 must

#79 매칭 후 드라이버 정보와 위치를 받아서 표시
  client/src/components/UserMatching/MatchedDriverData.tsx
  client/src/components/common/ContentWrapper.tsx
  client/src/components/common/Taxi.tsx
  client/src/components/common/TaxiMarker.tsx
  client/src/components/map/Map.tsx
  client/src/components/userMain/InputPlaces.tsx
  client/src/components/userMain/PreReqData.tsx
  client/src/containers/MapContainer.tsx
  client/src/pages/driver/DriverAuthPage.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/pages/user/UserSignupPage.tsx
  client/src/types/index.ts
Labels: 🌈 client, 🥇 must

#77 드라이버 메인 페이지 기능 구현
  client/.storybook/main.js
  client/config/webpack.config.js
  client/src/App.tsx
  client/src/components/driverMain/DriverMainBody.tsx
  client/src/components/driverMain/DriverWorkingContent.tsx
  client/src/components/driverMain/WorkingToggle.tsx
  client/src/components/driverSignup/DriverSignupForm.tsx
  client/src/components/driverSignup/SignupLabelInput.tsx
  client/src/components/routers/AuthRouter.tsx
  client/src/containers/MapContainer.tsx
  client/src/pages/driver/DriverMainPage.tsx
  client/src/queries/driver/driverMain.ts
  client/src/stories/SignupLabelInput.stories.tsx
  client/src/stories/WorkingToggle.stories.tsx
  client/src/utils/apolloClient.ts
  client/src/utils/getLocation.ts
  client/tsconfig.json
  server/graphql/onConnect.ts
  server/graphql/resolver/mutation.ts
  server/graphql/resolver/subscription.ts
  server/graphql/schema/index.graphql
  server/models/geoSchema.ts
  server/models/pointSchema.ts
  server/models/requestingUserSchema.ts
  server/models/waitingDriverSchema.ts
Labels: 🌈 client, 🥇 must, 🧱 server

#81 드라이버 - 탑승 완료 버튼 구현
  client/src/components/common/CallButton.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
  client/src/pages/user/UserMatchingPage.tsx
Labels: 🌈 client, 🥇 must

#80 유저 매칭 시작 구현
  client/src/components/common/Loading.tsx
  client/src/components/common/Marker.tsx
  client/src/components/map/Map.tsx
  client/src/components/userMain/PlaceDropdown.tsx
  client/src/components/userMain/RequsetButton.tsx
  client/src/components/userMatching/Matching.tsx
  client/src/containers/MapContainer.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/stores/modules/pathPoint.ts
  client/src/types/index.ts
  server/app.ts
  server/graphql/resolver/mutation.ts
  server/graphql/resolver/subscription.ts
  server/graphql/schemaDirectives/index.ts
Labels: 🌈 client, 🐛 bug, 🥇 must

#84 사용자 매칭 성공 응답 구현
  client/src/components/map/Map.tsx
  client/src/components/userMain/PlaceDropdown.tsx
  client/src/pages/user/UserMainPage.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/stores/modules/pathPoint.ts
  server/graphql/onConnect.ts
  server/graphql/resolver/mutation.ts
  server/graphql/resolver/subscription.ts
  server/graphql/schemaDirectives/index.ts
  server/utils/verifyUserByCookie.ts
Labels: 🌈 client, 🐛 bug, 🧱 server

#82 매칭 후 드라이버 페이지
  client/src/components/common/CallButton.tsx
  client/src/components/driverMatching/StartLocationInfo.tsx
  client/src/components/userMain/PlaceDropdown.tsx
  client/src/components/userMain/PreReqData.tsx
  client/src/containers/MapContainer.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
  client/src/stories/test.stories.tsx
Labels: 🌈 client, 🥇 must

#85 드라이버의 승객 탑승 완료 처리
  client/src/components/driverMain/DriverMainBody.tsx
  client/src/components/driverMain/DriverWorkingContent.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
  client/src/queries/driver/driverMatching.ts
  client/src/types/index.ts
  server/graphql/resolver/mutation.ts
  server/graphql/resolver/subscription.ts
  server/graphql/resolver/subscriptionType.ts
  server/graphql/schema/index.graphql
Labels: 🌈 client, 🥇 must, 🧱 server

#86 alias refactor
  client/.storybook/main.js
  client/config/webpack.config.js
  client/src/App.tsx
  client/src/components/UserMatching/MatchedDriverData.tsx
  client/src/components/map/Map.tsx
  client/src/components/userMain/InputPlaces.tsx
  client/src/components/userMain/PlaceDropdown.tsx
  client/src/components/userMain/PreReqData.tsx
  client/src/components/userMain/RequsetButton.tsx
  client/src/components/userMatching/MatchedDriverData.tsx
  client/src/containers/MapContainer.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
  client/src/pages/user/UserMainPage.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/tsconfig.json
Labels: 🌈 client, 🔧 refactor

#88 결제 요청 알림창 구현
  client/src/components/driverMap/PaymentModal.tsx
  client/src/components/userMain/PlaceDropdown.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
Labels: 🌈 client, 🥇 must

#90 매칭 중 취소버튼, 경로 표시 구현
  client/src/components/UserMatching/Matching.tsx
  client/src/components/map/Map.tsx
  client/src/components/userMatching/Matching.tsx
  client/src/components/userMatching/MatchingCancelButton.tsx
  client/src/components/userMatching/MatchingWrapper.tsx
  client/src/components/userMatching/RequestInfo.tsx
  client/src/containers/MapContainer.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/stories/MatchingCancelBtn.stories.tsx
  client/src/stories/RequestIInfo.stories.tsx
Labels: 🌈 client, 🥇 must

#92 README 수정
  README.md
Labels: 📃 docs

#94 Production 환경에서 SSL 적용
  client/src/utils/apolloClient.ts
Labels: ⚙ environment, 🌈 client

#96 맵 컨테이너, 맵 컴포넌트 관련 리팩토링 진행
  client/src/App.tsx
  client/src/components/map/Map.tsx
  client/src/components/userMain/InputPlaces.tsx
  client/src/components/userSignup/InputPhoneNum.tsx
  client/src/containers/MapContainer.tsx
  client/src/contexts/GoogleMapProvider.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
  client/src/pages/user/UserMainPage.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/stories/MatchingCancelBtn.stories.tsx
  client/src/utils/setStartToNearPlace.tsx
Labels: 🌈 client, 🔧 refactor

#105 refator: useCallback, query string 분리
  client/src/components/common/CallButton.tsx
  client/src/components/driverMain/DriverWorkingContent.tsx
  client/src/components/routers/AuthRouter.tsx
  client/src/components/routers/DriverRouter.tsx
  client/src/components/routers/UserRouter.tsx
  client/src/components/signin/SigninForm.tsx
  client/src/components/userMain/PlaceDropdown.tsx
  client/src/components/userMain/RequsetButton.tsx
  client/src/components/userSignup/InputIdPw.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
  client/src/pages/driver/DriverSigninPage.tsx
  client/src/pages/driver/DriverSignupPage.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/pages/user/UserSigninPage.tsx
  client/src/pages/user/UserSignupPage.tsx
  client/src/queries/authQueries.ts
  client/src/queries/driver/driverMatching.ts
  client/src/queries/driver/driverSignin.ts
  client/src/queries/driver/driverSignup.ts
  client/src/queries/user/userMatching.ts
  client/src/queries/user/userSignin.ts
  client/src/queries/user/userSignup.ts
Labels: 🌈 client, 🔧 refactor

#112 출발지 표시 및 탑승 완료 기능 완성
  client/src/pages/driver/DriverMatchingPage.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/queries/driver/driverMatching.ts
  client/src/queries/user/userMatching.ts
Labels: 🌈 client, 🔧 refactor, 🥇 must

#111 택시 실시간 위치 표시
  client/src/components/common/TaxiMarker.tsx
  client/src/components/driverMain/DriverMainBody.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/queries/driver/driverMatching.ts
  server/graphql/resolver/mutation.ts
  server/models/waitingDriverSchema.ts
Labels: 🌈 client, 🥇 must, 🧱 server

#113 유저 이용내역 페이지 및 컴포넌트 제작
  client/package.json
  client/src/App.tsx
  client/src/components/map/Map.tsx
  client/src/components/userHistory/HistoryBox.tsx
  client/src/pages/index.ts
  client/src/pages/user/UserHistoryPage.tsx
  client/src/queries/user/userHistory.ts
  client/src/stories/HistoryContainer.stories.tsx
  client/src/types/index.ts
  server/graphql/resolver/query.ts
  server/graphql/schema/index.graphql
Labels: 🌈 client, 🥈 could

#110 메뉴 버튼 및 로그아웃 기능 구현
  client/src/App.tsx
  client/src/components/common/Menu.tsx
  client/src/pages/driver/DriverMainPage.tsx
  client/src/pages/user/UserMainPage.tsx
  client/src/queries/driver/driverMatching.ts
  client/src/queries/signout.ts
  server/graphql/resolver/mutation.ts
  server/graphql/schema/index.graphql
Labels: 🌈 client, 🥇 must, 🧱 server

#115 svg 버그 수정
  client/src/components/common/Taxi.tsx
  client/src/components/common/TaxiMarker.tsx
  client/src/components/userMatching/MatchedDriverData.tsx
  client/src/components/userMatching/RequestInfo.tsx
  server/graphql/resolver/mutation.ts
Labels: 🌈 client, 🐛 bug

#116 드라이버가 유저에게 전화 걸 수 있는 버튼 구현
  client/src/components/driverMain/DriverWorkingContent.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
  client/src/queries/driver/driverMain.ts
  client/src/types/index.ts
  server/graphql/resolver/mutation.ts
  server/graphql/schema/index.graphql
  server/models/requestingUserSchema.ts
Labels: 🌈 client, 🥇 must, 🧱 server

#119 목적지 도착 기능 구현
  client/src/components/driverMap/PaymentModal.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
  server/graphql/resolver/mutation.ts
Labels: 🌈 client, 🥇 must, 🧱 server

#120 드라이버 출발지 도착지 경로 표시
  client/src/components/map/Map.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
Labels: 🌈 client, 🥇 must

#121 유저 이용내역 저장 및 전송
  server/graphql/resolver/mutation.ts
  server/graphql/resolver/query.ts
  server/graphql/schema/index.graphql
  server/models/index.ts
  server/models/locationSchema.ts
  server/models/requestLocationsShema.ts
  server/models/userHistorySchema.ts
  server/models/waitingDriverSchema.ts
Labels: 🥈 could, 🧱 server

#126 호출 취소된 요청의 수락 가능 버그 해결
  client/src/components/driverMain/DriverWorkingContent.tsx
  server/graphql/resolver/mutation.ts
Labels: 🌈 client, 🐛 bug, 🧱 server

#124 글씨가 길거나 모양이 깨지는 컴포넌트의 CSS 수정
  client/src/components/common/ContentWrapper.tsx
  client/src/components/common/Menu.tsx
  client/src/components/driverMain/DriverMainBody.tsx
  client/src/components/driverMain/DriverWorkingContent.tsx
  client/src/components/driverMatching/StartLocationInfo.tsx
  client/src/components/userMain/InputPlaces.tsx
  client/src/components/userMatching/MatchedDriverData.tsx
  client/src/components/userMatching/Matching.tsx
  client/src/components/userMatching/MatchingCancelButton.tsx
  client/src/components/userMatching/MatchingWrapper.tsx
  client/src/components/userMatching/RequestInfo.tsx
Labels: 🌈 client, 💅🏻 beauty

#123 사용자 이용 내역 저장
  client/src/components/driverMap/PaymentModal.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/queries/user/userHistory.ts
  client/src/types/index.ts
Labels: 🌈 client, 🥇 must

#133 드라이버가 메인 페이지 진입할 시 영업중인지 확인하게 변경
  client/src/components/driverMain/DriverMainBody.tsx
  client/src/components/driverMain/WorkingToggle.tsx
  client/src/pages/driver/DriverMainPage.tsx
  client/src/queries/driver/driverMatching.ts
  server/graphql/resolver/query.ts
  server/graphql/schema/index.graphql
Labels: 🌈 client, 🧱 server

#132 내역 페이지에서 endTime 제거
  client/src/components/userHistory/HistoryBox.tsx
  client/src/pages/user/UserHistoryPage.tsx
  client/src/queries/user/userHistory.ts
Labels: 🌈 client, 🐛 bug

#129 드라이버에게 경로가 제대로 표시되지 않는 버그, 사용자에게 택시 위치가 표시되지 않는 버그 수정
  client/src/containers/MapContainer.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/queries/user/userMatching.ts
  client/src/stores/modules/pathPoint.ts
  server/graphql/resolver/mutation.ts
  server/graphql/schema/index.graphql
Labels: 🌈 client, 🐛 bug, 🧱 server

#137 탑승 이후 승객의 연결 유지 및 내역 저장 로직 변경
  client/src/components/driverMap/PaymentModal.tsx
  client/src/components/map/Map.tsx
  client/src/components/userHistory/HistoryBox.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/queries/driver/driverMatching.ts
  client/src/queries/user/userHistory.ts
  client/src/queries/user/userMatching.ts
  server/graphql/resolver/mutation.ts
  server/graphql/resolver/subscription.ts
  server/graphql/resolver/subscriptionType.ts
  server/graphql/schema/index.graphql
  server/models/userHistorySchema.ts
Labels: 🌈 client, 🧱 server

#141 PlaceDropdown 장소 표기 방식 변경
  client/src/components/userMain/PlaceDropdown.tsx
Labels: 🌈 client, 💅🏻 beauty

#142 전반적인 UI 정돈
  client/src/components/common/Circle.tsx
  client/src/components/common/ContentWrapper.tsx
  client/src/components/common/Menu.tsx
  client/src/components/common/TaxiMarker.tsx
  client/src/components/driverMain/DriverMainBody.tsx
  client/src/components/driverMain/DriverWorkingContent.tsx
  client/src/components/driverMatching/StartLocationInfo.tsx
  client/src/components/driverSignup/DriverSignupForm.tsx
  client/src/components/userDriverSelect/EntryButtonGroup.tsx
  client/src/components/userMain/InputPlaces.tsx
  client/src/components/userMain/PlaceDropdown.tsx
  client/src/pages/UserDriverSelectPage.tsx
  client/src/pages/driver/DriverAuthPage.tsx
  client/src/pages/driver/DriverMainPage.tsx
  client/src/pages/user/UserAuthPage.tsx
  client/src/pages/user/UserHistoryPage.tsx
Labels: 🌈 client, 💅🏻 beauty

#140 홈으로 돌아갔을 때 내역 미표시 및 매칭 버그 수정
  client/src/pages/user/UserMatchingPage.tsx
  client/src/stores/modules/preData.ts
Labels: 🌈 client, 🐛 bug, 🥇 must

#144 [fe] fix (#139) 히스토리 페이지에서 메인으로 돌아올 때 0, 0으로 설정되는 버그 수정
  client/src/components/map/Map.tsx
  client/src/containers/MapContainer.tsx
  client/src/stores/modules/center.ts
  client/src/stores/modules/index.ts
Labels: 🐛 bug

#145 fix/history 페이지 너비 조정
  client/src/components/userHistory/HistoryBox.tsx
  client/src/pages/user/UserHistoryPage.tsx
Labels: 🌈 client, 🐛 bug

#146 mutation 리팩토링
  client/src/components/common/TaxiMarker.tsx
  client/src/components/driverSignup/DriverSignupForm.tsx
  client/src/components/signin/SigninForm.tsx
  client/src/components/userSignup/InputIdPw.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/queries/driver/driverSignin.ts
  client/src/queries/driver/driverSignup.ts
  client/src/queries/user/userHistory.ts
  client/src/queries/user/userSignin.ts
  client/src/queries/user/userSignup.ts
  server/graphql/resolver/mutation.ts
  server/graphql/resolver/mutations/auth.ts
  server/graphql/resolver/mutations/driver.ts
  server/graphql/resolver/mutations/user.ts
  server/graphql/resolver/test.ts
  server/graphql/schema/index.graphql
  server/models/requestingUserSchema.ts
Labels: 🌈 client, 🔧 refactor, 🧱 server

#148 클라이언트 불필요한 코드 정리 외 리팩토링
  client/src/components/signin/SigninForm.tsx
  client/src/components/userAuthPage/AuthButtonGroup.tsx
  client/src/components/userDriverSelect/EntryButtonGroup.tsx
  client/src/components/userMatching/RequestInfo.tsx
  client/src/pages/driver/DriverSigninPage.tsx
  client/src/pages/user/UserHistoryPage.tsx
  client/src/pages/user/UserSigninPage.tsx
  client/src/pages/user/UserSignupPage.tsx
  client/src/types/index.ts
Labels: 🌈 client, 🔧 refactor

#147 로그인 리팩토링
  client/src/components/signin/SigninForm.tsx
  client/src/pages/driver/DriverSigninPage.tsx
  client/src/pages/user/UserSigninPage.tsx
  client/src/queries/driver/driverSignin.ts
  client/src/queries/signin.ts
  client/src/queries/user/userSignin.ts
  client/src/types/index.ts
  server/graphql/resolver/mutations/auth.ts
  server/graphql/schema/index.graphql
Labels: 🌈 client, 🔧 refactor, 🧱 server

#150 UserMatchingPage 리팩토링
  client/src/components/userHistory/HistoryBox.tsx
  client/src/components/userMain/PreReqData.tsx
  client/src/components/userMatching/MatchedDriverData.tsx
  client/src/components/userMatching/MatchingCancelButton.tsx
  client/src/components/userMatching/MatchingWrapper.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/utils/pathPointToRequest.ts
Labels: 🔧 refactor
