Repository boostcamp-2020/Project09-B-Uber-Clone, pull requests merged in 2020-11, with the labels that each got.

#23 #4 App 라우팅 설정
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/pages/NotFoundPage.tsx
  client/src/pages/UserDriverSelectPage.tsx
  client/src/pages/driver/DriverAuthPage.tsx
  client/src/pages/driver/DriverMainPage.tsx
  client/src/pages/driver/DriverMatchingPage.tsx
  client/src/pages/driver/DriverSigninPage.tsx
  client/src/pages/driver/DriverSignupPage.tsx
  client/src/pages/index.ts
  client/src/pages/user/UserAuthPage.tsx
  client/src/pages/user/UserMainPage.tsx
  client/src/pages/user/UserMatchingPage.tsx
  client/src/pages/user/UserSigninPage.tsx
  client/src/pages/user/UserSignupPage.tsx
  server/routes/index.ts
Labels: 🌈 client, 🥇 must, 🧱 server

#24 드라이버 회원가입 페이지 뷰 구현
  client/config/webpack.config.js
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/DriverSignupForm.tsx
  client/src/components/SignupLabelInput.tsx
  client/src/pages/driver/DriverSignupPage.tsx
  client/src/stories/SignupLabelInput.stories.tsx
  client/src/types/index.ts
  client/src/utils/driverSignupValidation.ts
  client/tsconfig.json
Labels: ⚙ environment, 🌈 client, 🥇 must

#25 진입 페이지 구현
  client/config/webpack.config.js
  client/src/App.tsx
  client/src/components/EntryButtonGroup.tsx
  client/src/pages/UserDriverSelectPage.tsx
Labels: 🌈 client, 🥇 must

#28 사용자 로그인 페이지 구현
  client/src/components/Login/LoginForm.tsx
  client/src/components/Login/LoginLabel.tsx
  client/src/pages/user/UserSigninPage.tsx
Labels: 🌈 client, 🥇 must

#27 드라이버 회원가입 mutation 구현 및 client와 연결
  .travis.yml
  client/.storybook/main.js
  client/config/webpack.config.js
  client/package.json
  client/scripts/start.js
  client/src/App.tsx
  client/src/components/SignupLabelInput.tsx
  client/src/components/driverSignup/DriverSignupForm.tsx
  client/src/index.tsx
  client/src/pages/driver/DriverSignupPage.tsx
  client/src/types/index.ts
  client/src/utils/apolloClient.ts
  client/src/utils/driverSignupValidation.ts
  client/tsconfig.json
  server/app.ts
  server/config/index.ts
  server/graphql/context.ts
  server/graphql/resolver/index.ts
  server/graphql/resolver/mutation.ts
  server/graphql/schema/index.graphql
  server/package-lock.json
  server/package.json
  server/utils/authenticateNotRequired.ts
Labels: 🌈 client, 🐛 bug, 🥇 must, 🧱 server

#26 지도 컴포넌트 구현과 핀 찍기
  client/.storybook/preview.js
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/common/Marker.tsx
  client/src/components/map/Map.tsx
  client/src/containers/MapContainer.tsx
  client/src/stores/index.ts
  client/src/stores/modules/index.ts
  client/src/stores/modules/location.ts
  client/src/stories/map.stories.tsx
  client/src/stories/marker.stories.tsx
  client/src/types/index.ts
  client/tsconfig.json
Labels: 🌈 client, 🥇 must

#32 사용자 로그인 기능 구현
  client/src/components/Signin/SigninForm.tsx
  client/src/components/Signin/SigninLabel.tsx
  client/src/pages/user/UserSigninPage.tsx
  client/src/types/index.ts
  server/graphql/resolver/mutation.ts
  server/graphql/schema/index.graphql
Labels: 🌈 client, 🥇 must, 🧱 server

#36 드라이버 로그인 페이지 구현
  client/src/components/Signin/SigninForm.tsx
  client/src/pages/driver/DriverSigninPage.tsx
  client/src/pages/user/UserSigninPage.tsx
  client/src/types/index.ts
Labels: 🌈 client, 🥇 must

#37 자동완성 드롭다운 구현
  client/package-lock.json
  client/package.json
  client/src/components/userMain/PlaceDropdown.tsx
  client/src/stories/PlaceDropdown.stories.tsx
Labels: 🌈 client

#39 출발지 도착지 핀 구현
  client/src/components/map/Map.tsx
  client/src/containers/MapContainer.tsx
  client/src/pages/user/UserMainPage.tsx
  client/src/stores/modules/index.ts
  client/src/stores/modules/location.ts
  client/src/stores/modules/pathPoint.ts
  client/src/stories/userMainPage.stories.tsx
  client/src/types/index.ts
Labels: 🌈 client, 🥇 must

#35 사용자 회원가입 페이지 UI/UX 구현
  client/package-lock.json
  client/src/components/UserDriverSelect/EntryButtonGroup.tsx
  client/src/components/UserSignup/InputIdPw.tsx
  client/src/components/UserSignup/InputName.tsx
  client/src/components/UserSignup/InputPhoneNum.tsx
  client/src/pages/UserDriverSelectPage.tsx
  client/src/pages/user/UserSignupPage.tsx
  client/src/types/index.ts
Labels: 🌈 client, 🥇 must

#40 유저 회원가입 mutation 구현 및 client와 연결
  client/src/components/UserSignup/InputIdPw.tsx
  client/src/components/UserSignup/InputName.tsx
  client/src/components/UserSignup/InputPhoneNum.tsx
  client/src/pages/UserDriverSelectPage.tsx
  client/src/pages/user/UserAuthPage.tsx
  server/graphql/resolver/mutation.ts
  server/graphql/schema/index.graphql
Labels: 🌈 client, 🥇 must, 🧱 server

#41 로그인 상태에 따른 라우팅 구현
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/map/Map.tsx
  client/src/components/routers/AuthRouter.tsx
  client/src/components/routers/DriverRouter.tsx
  client/src/components/routers/UserRouter.tsx
  client/src/components/routers/index.ts
  client/src/utils/authGQLString.ts
  server/app.ts
  server/graphql/context.ts
  server/graphql/resolver/index.ts
  server/graphql/resolver/mutation.ts
  server/graphql/resolver/query.ts
  server/graphql/schema/index.graphql
  server/graphql/schemaDirectives/authError.ts
  server/graphql/schemaDirectives/index.ts
Labels: 🌈 client, 🧱 server

#45 출발/도착지 입력 시 핀 표시
  client/src/pages/user/UserMainPage.tsx
Labels: 🌈 client, 🥇 must
